<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fill the form</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:replace="fragments/header :: header ">
            Header
        </div>

        <h1>Fill the form pls</h1>

        <form action="#" th:action="@{/exercises}" th:object="${submissionFormObject}" method="POST">
            <div>
                <label>Student number</label> 
                <input type="text" th:field="*{studentNumber}" name="studentNumber"/>
                <div th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"></div>
            </div>

            <div>
                <label>Name</label> 
                <input type="text" th:field="*{name}" name="name"/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>               
            </div>

            <div>
                <label>Number of made exercises</label> 
                <input type="text" th:field="*{exerciseCount}" name="exerciseCount"/>
                <div th:if="${#fields.hasErrors('exerciseCount')}" th:errors="*{exerciseCount}"></div> 
            </div>

            <input type="submit" value="Send"/>
        </form>
    </body>
</html>