<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title >Edit course</title> 
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:replace="fragments/header :: header ">
            Header
        </div>
        <div>
            <form method="post" th:action="@{/courses/{id}/edit(id=${course.id})}">
                <div class="form-group">
                    <label>Course name:</label>
                    <input type="text" name="name" th:field="${course.name}" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Start date:</label>
                    <input type="date" name="courseStart" th:field="${course.courseStart}" class="form-control" />
                </div>
                <div class="form-group">
                    <label>End date:</label>
                    <input type="date" name="courseEnd" th:field="${course.courseEnd}" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" name="numOfWeeks" th:field="${course.numOfWeeks}" class="form-control" />
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </body>
</html>
