<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List all courses</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:replace="fragments/header :: header ">
            Header
        </div>
        <div>
            <p><a th:href="@{/courses/new}">add new course</a></p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Weeks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course : ${courses}">
                        <td><a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}">Hello Course</a></td>
                        <td th:text="${course.courseStart}"></td>
                        <td th:text="${course.courseEnd}"></td>
                        <td th:text="${course.numOfWeeks}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
