<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'Details for student ' + ${student.name}"></title>
        <object th:include="fragments/header :: header " th:remove="tag" />
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/navbar :: navbar ">
                Navbar
            </div>
            <div>
                <h1 th:text="${student.name}"></h1>
                <h2 th:text="${student.studentNumber}"></h2>

                <h2 th:text="'Participation: ' + ${course.name} + ' ' + ${course.startDate} + ' ' + ${course.endDate}"></h2>
                <table>
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Exercises</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="week : ${course.weeks}">
                            <td th:text="${week.name}"></td>
                            <td><a th:href="@{/course/{courseid}/week/{weekid}/{submission}(courseid=${course.id}, weekid=${week.id}, submission=${})}"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>        
        </div>

    </body>
</html>
