<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{message.showcoursedetails}">Show course details</title>
        <object th:include="fragments/header :: header " th:remove="tag" />
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/navbar :: navbar ">
                Navbar
            </div>
            <div>

                <h1 th:text="${course.name}"></h1>
                <h2 th:text="${course.courseStart} + ' - ' + ${course.courseEnd}"></h2>
                <h2 th:text="#{message.students} + ': ' + ${course.numOfStudents}"></h2>

                <div>
                    <p sec:authorize="hasAuthority('ROLE_TEACHER')"><a th:href="@{/courses/{id}/edit(id=${course.id})}" th:text="#{message.modifycourse}">Modify course details</a></p>
                </div>

                <div th:if="${not #lists.isEmpty(course.assistants)}">
                    <h3 th:text="#{message.assistants} + ':'">Course Assistants: </h3>
                    <div th:each="assistant : ${course.assistants}">
                        <div sec:authorize="hasAuthority('ROLE_TEACHER')"> 
                            <a th:href="@{/persons/{id}(id=${assistant.id})}" th:text="${assistant.name}"></a>
                            <form method="POST" th:action="@{/assistants/courses/{courseId}/remove/{assistantId}(courseId=${course.id}, assistantId=${assistant.id})}" id="removeassistant">
                                <input type="submit" th:value="#{message.remove}"/>
                            </form>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ROLE_ASSISTANT', 'ROLE_STUDENT')">
                            <a th:text="${assistant.name}"></a>
                        </div>
                    </div>
                </div>

                <div sec:authorize="hasAuthority('ROLE_TEACHER')">
                    <h4 th:text="#{message.addassistant}">Add assistant</h4>
                    <form method="POST" 
                          th:action="@{/assistants/courses/{courseId}/add(courseId=${course.id})}" 
                          th:object="${person}"
                          id="addassistant">
                        <input type="hidden" name="name" value="asdf"/>

                        <label th:text="#{message.studentnumber}">Student number</label>
                        <input type="text" th:field="*{studentNumber}" name="studentNumber" id="assistant-studentnumber"/>
                        <div th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"></div>

                        <input type="submit" th:value="#{message.add}"/>
                    </form>
                </div>

                <div th:if="${not #lists.isEmpty(course.weeks)}">
                    <table>
                        <thead>
                            <tr>
                                <th th:text="#{message.week}">Week</th>
                                <th th:text="#{message.exercises}">Exercises</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="week : ${course.weeks}">
                                <td><a th:href="@{/courses/{courseid}/week/{weekid}(courseid=${course.id}, weekid=${week.week})}" th:text="${week.week}"></a></td>
                                <td th:text="${week.numOfExercises}"></td>
                                <!-- <td th:text="${week.numOfStudents}"></td> -->
                            </tr>
                        </tbody>
                    </table>

                    <div th:if="${students}" sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_ASSISTANT')">
                        <table>
                            <thead>
                                <tr>
                                    <th th:text="#{message.student}">Student</th>
                                    <th th:text="#{message.studentnumber}">Student number</th>
                                    <th th:text="#{message.exercisesdone}">Exercises done</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="student : ${students}">
                                    <td><a th:href="@{/persons/{id}(id=${student.id})}" th:text="${student.name}"></a></td>
                                    <td th:text="${student.studentNumber}"></td>
                                    <td th:text="${student.studentNumber}"></td>edit
                                </tr>
                            </tbody>
                        </table>
                        <div th:replace="fragments/paging :: paging ">
                            Paging
                        </div>
                    </div>
                    <div sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_ASSISTANT')">
                        <h3 th:text="#{message.addstudent}"></h3>
                        <form action="#" th:action="@{/courses/{id}/addStudent(id=${course.id})}" 
                              th:object="${person}" 
                              method="POST" 
                              id="joinCourseForm">
                            <div>
                                <label th:text="#{message.studentnumber}">Student number</label> 
                                <input type="text" th:field="*{studentNumber}" name="studentNumber"/>
                                <div th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"></div>
                            </div>

                            <div>
                                <label th:text="#{message.name}">Name</label> 
                                <input type="text" th:field="*{name}" name="name"/>
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>               
                            </div>
                            <input type="submit" th:value="#{message.send}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
