<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <div class="navbar" th:fragment="navbar"> 
            <span><a th:href="@{/}">Home</a></span>
            <span sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_ASSISTANT')"><a  th:href="@{/persons/page/1}" th:text="#{message.studentlist}">Student listing</a></span>
            <span sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_ASSISTANT')"><a  th:href="@{/courses}" th:text="#{message.courselist}">Course listing</a></span>
            <span sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_ASSISTANT')"><a  th:href="@{/submissions}" th:text="#{message.submissionlist}">Submission listing</a></span>
            <span th:unless="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/login}" th:text="#{message.login}">Login</a></span>
            <span th:unless="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/register}" th:text="#{message.register}">Sign Up</a></span>
            <span sec:authorize="isAuthenticated()" ><a th:href="@{/logout}" th:text="#{message.logout}">Logout</a></span>
        </div>
    </body>
</html>
