<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:fragment="paging"> 
            <a th:if="${currentIndex} > ${beginIndex}" th:href="@{/{path}/page/{page}(page=${beginIndex}, path=${pagePath})}">&lt;&lt;</a> 
            <span th:unless="${currentIndex} > ${beginIndex}">&lt;&lt;</span> 
            <a th:if="${previous}" th:href="@{/{path}/page/{page}(page=${previous}, path=${pagePath})}">&lt;</a> 
            <span th:if="${previous == null}">&lt;</span> 
            <span th:text="${currentIndex}"></span> 
            <a th:if="${next}" th:href="@{/{path}/page/{page}(page=${next}, path=${pagePath})}">&gt;</a> 
            <span th:if="${next == null}">&gt;</span> 
            <a th:if="${endIndex} > ${currentIndex}" th:href="@{/{path}/page/{page}(page=${endIndex}, path=${pagePath})}">&gt;&gt;</a>
            <span th:unless="${endIndex} > ${currentIndex}">&gt;&gt;</span>
        </div>
    </body>
</html>
