<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fill the form</title>
        <object th:include="fragments/header :: header " th:remove="tag" />
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/navbar :: navbar ">
                Navbar
            </div>

            <div th:if="${week}">

                <h1 th:text="#{message.fillpls}">Fill the form pls</h1>

                <form action="#" th:action="@{/courses/{idC}/week/{idW}/modifyWeek (idC=${week.course.id}, idW=${week.week})}" th:object="${week}" method="POST">
                    <div> <span th:text="#{message.description}"></span> <input type="text" th:field="*{description}" name="description"/></div>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    <input type="submit" th:value="#{message.send}"/>
                </form>

                <a th:href="@{/courses/{id}/week/{week}(id=${week.course.id}, week=${week.week})}" th:text="#{message.back}">Back</a>
            </div>
            <div th:unless="${week}">
                <span th:text="#{message.nosuchweek}"></span>
            </div>
        </div>
    </body>
</html>