<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fill the form</title>
        <object th:include="fragments/header :: header " th:remove="tag" />
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/navbar :: navbar ">
                Navbar
            </div>

            <h1>Fill the form pls</h1>

            <form action="#" th:action="@{/courses/{idC}/week/{idW}/modifyWeek (idC=${week.course.id}, idW=${week.week})}" th:object="${week}" method="POST">
                <div> Description <input type="text" th:field="*{description}" name="description"/></div>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                <input type="submit" value="Send"/>
            </form>

            <a th:href="@{/courses/{id}/week/{week}(id=${week.course.id}, week=${week.week})}">Back</a>
        </div>
    </body>
</html>