<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show details for week: 1</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            <h1>Hello Course: week 1</h1>
            <h2>11.11.2016 - 12.12.2016</h2>
            <h2>6 exercises</h2>
            <p><a th:href="@{/course/{id}/week/{week}/modifyWeek(id=${week.course.id}, week=${week.week})}">Modify week details</a></p>

            <table>
                <thead>
                    <tr>
                        <th>Exercise #</th>
                        <th>Exercise name</th>
                        <!-- <th>done</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">1</a></td>
                        <td>Reservations</td>
                        <!-- <td><a href="">2</a></td> -->
                    </tr>
                    <tr>
                        <td><a href="">2</a></td>
                        <td>Only for</td>
                        <!-- <td><a href="">2</a></td> -->
                    </tr>
                    <tr>
                        <td><a href="">3</a></td>
                        <td>ScoreService</td>
                        <!-- <td><a href="">2</a></td> -->
                    </tr>
                    <tr>
                        <td><a href="">4</a></td>
                        <td>GameRater</td>
                        <!-- <td><a href="">2</a></td> -->
                    </tr>
                    <tr>
                        <td><a href="">5</a></td>
                        <td>RestItem</td>
                        <!-- <td><a href="">2</a></td> -->
                    </tr>
                    <tr>
                        <td><a href="">6</a></td>
                        <td>MessageApi</td>
                        <!-- <td><a href="">2</a></td> -->
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Student present</th>
                        <th>Exercises done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">c-ko</a></td>
                        <td>1</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td><a href="">d-ko</a></td>
                        <td>1</td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>present</th>
                        <th>with ex</th>
                        <th>ex done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>total</th>
                        <td>2</td>
                        <td>2</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
