<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show details for week: 1</title>
        <object th:include="fragments/header :: header " th:remove="tag" />
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/navbar :: navbar ">
                Navbar
            </div>

            <div>
                <h1 th:text="${week.course.name} + ' Week: ' + ${week.week}"></h1>
                <h2 th:text="${week.course.courseStart} + ' - ' + ${week.course.courseEnd}"></h2>
                <span th:text="${#lists.size(week.exercises)}">6</span>
                <span th:text="#{message.exercises2}">exercises</span>
                <div th:text="${week.description}"></div>
                <p sec:authorize="hasAnyAuthority('ROLE_TEACHER')"><a class="button" th:href="@{/courses/{id}/week/{week}/modifyWeek(id=${week.course.id}, week=${week.week})}" th:text="#{message.modifyweek}">Modify week details</a></p>
                <p sec:authorize="hasAnyAuthority('ROLE_TEACHER')"><a class="button" th:href="@{/exercises/add/{week}(week=${week.week})}" th:text="#{message.addexercise}">Add exercise</a></p>

                <table th:if="${not #lists.isEmpty(week.exercises)}">
                    <thead>
                        <tr>
                            <!--<th>Exercise #</th>-->
                            <th th:text="#{message.exercisename}">Exercise name</th>
                            <th sec:authorize="hasAnyAuthority('ROLE_TEACHER')" th:text="#{message.modify}">Modify</th>
                            <!-- <th>done</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="exercise : ${week.exercises}">
                            <!--<td><a href="@{/exercise/{idE}" th:text=""></a></td>-->
                            <td th:text="${exercise.description}"></td>
                            <td>
                                <a sec:authorize="hasAnyAuthority('ROLE_TEACHER')" class="button" th:href="@{/exercises/{idE}/edit(idE=${exercise.id})}" th:text="#{message.modify}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table th:if="${not #lists.isEmpty(week.submissions)}" sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_ASSISTANT')">
                    <thead>
                        <tr>
                            <th th:text="#{message.student}">Student</th>
                            <th th:text="#{message.studentnumber}">Studentnumber</th>
                            <th th:text="#{message.exercisesdone}">Exercises done</th>
                            <th th:text="#{message.time}">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="submission : ${week.submissions}">
                            <td><a th:href="@{/persons/{id}(id=${submission.student.id})}" th:text="${submission.student.name}"></a> </td>
                            <td><a th:href="@{/persons/{id}(id=${submission.student.id})}" th:text="${submission.student.studentNumber}"></a> </td>
                            <td th:text="${submission.exerciseCount}"></td>
                            <td><a th:text="${submission.submissionTime}" th:href="@{/submissions/{id}(id=${submission.id})}"></a></td>
                        </tr>
                    </tbody>
                </table>

                <div sec:authorize="hasAuthority('ROLE_STUDENT')">
                    <h3 th:text="#{message.submitexercises}">Submit this week's exercises</h3>
                    <form action="#" th:action="@{/submissions/courses/{id}/week/{week}(id=${week.course.id}, week=${week.week})}" 
                          th:object="${submissionFormObject}" 
                          method="POST" 
                          id="subForm">

                        <div>
                            <label th:text="#{message.studentnumber}">Student number</label> 
                            <input type="text" th:field="*{studentNumber}" name="studentNumber"/>
                            <div th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"></div>
                        </div>

                        <div>
                            <label th:text="#{message.name}">Name</label> 
                            <input type="text" th:field="*{name}" name="name"/>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>               
                        </div>

                        <div>
                            <label th:text="#{message.madeexercisesnumb}">Number of made exercises</label> 
                            <input type="text" th:field="*{exerciseCount}" name="exerciseCount"/>
                            <div th:if="${#fields.hasErrors('exerciseCount')}" th:errors="*{exerciseCount}"></div> 
                        </div>

                        <div>
                            <label th:text="#{message.exercises}">Exercises</label> 
                            <textarea name="exerciseSubmission" form="subForm"></textarea>
                        </div>
                        <input type="submit" th:value="#{message.send}"/>
                    </form>

                </div>
                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    <h3 th:text="#{message.submitexercises}">Submit this week's exercises</h3>
                    <form action="#" th:action="@{/submissions/courses/{id}/week/{week}(id=${week.course.id}, week=${week.week})}" 
                          th:object="${submissionFormObject}" 
                          method="POST" 
                          id="subForm">

                        <div>
                            <label th:text="#{message.studentnumber}">Student number</label> 
                            <input type="text" th:field="*{studentNumber}" name="studentNumber"/>
                            <div th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"></div>
                        </div>

                        <div>
                            <label th:text="#{message.name}">Name</label> 
                            <input type="text" th:field="*{name}" name="name"/>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>               
                        </div>

                        <div>
                            <label th:text="#{message.madeexercisesnumb}">Number of made exercises</label> 
                            <input type="text" th:field="*{exerciseCount}" name="exerciseCount"/>
                            <div th:if="${#fields.hasErrors('exerciseCount')}" th:errors="*{exerciseCount}"></div> 
                        </div>

                        <div>
                            <label th:text="#{message.exercises}">Exercises</label> 
                            <textarea name="exerciseSubmission" form="subForm"></textarea>
                        </div>
                        <input type="submit" th:value="#{message.send}"/>
                    </form>

                </div>
            </div>
        </div>
    </body>
</html>
