<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show details for week: 1</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:replace="fragments/header :: header ">
            Header
        </div>

        <div>
            <h1 th:text="${week.course.name} + ' Week: ' + ${week.week}"></h1>
            <h2 th:text="${week.course.courseStart} + ' - ' + ${week.course.courseEnd}"></h2>
            <h2 th:text="${#lists.size(week.exercises) + ' exercises'}">6 exercises</h2>
            <p sec:authorize="hasAnyAuthority('TEACHER', 'ASSISTANT')"><a th:href="@{/courses/{id}/week/{week}/modifyWeek(id=${week.course.id}, week=${week.week})}">Modify week details</a></p>

            <p><a th:href="@{/submissions}">Submit exercises for this week</a></p>
            
            <table>
                <thead>
                    <tr>
                        <!--<th>Exercise #</th>-->
                        <th>Exercise name</th>
                        <th>Modify</th>
                        <!-- <th>done</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exercise : ${week.exercises}">
                        <!--<td><a href="@{/exercise/{idE}" th:text=""></a></td>-->
                        <td th:text="${exercise.description}"></td>
                        <td>
                           <a sec:authorize="hasAnyAuthority('TEACHER', 'ASSISTANT')" th:href="@{/exercises/{idE}/edit(idE=${exercise.id})}" th:text="Modify"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table sec:authorize="hasAnyAuthority('TEACHER', 'ASSISTANT')">
                <thead>
                    <tr>
                        <th></th>
                        <th>Student present</th>
                        <th>Exercises done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">c-ko</a></td>
                        <td>1</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td><a href="">d-ko</a></td>
                        <td>1</td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>present</th>
                        <th>with ex</th>
                        <th>ex done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>total</th>
                        <td>2</td>
                        <td>2</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
