<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fill the form</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Your exercises were successfully saved! :)</h1>
        
        <h2 th:text="${person.studentNumber}">number</h2>

        <p>You have done <span th:text="${studentExercise.count}">-1</span> exercises this week. Nice job! </p>
        
        <a th:href="@{/exercises}">Back to the form.</a>
    </body>
</html>