<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fill the form</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>Fill the form pls</div>
        
        <form th:action="@{/ex}" method="POST">
            <p> Opiskelijanumero <input type="text" name="studentNumber"/></p>
            <p> Nimi <input type="text" name="name"/></p>
            <p> Tehdyt tehtävät <input type="text" name="exercises"/></p>
            <input type="submit" value="Lähetä"/>
        </form>
        
    </body>
</html>