<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ExerciseApplication</title>
    </head>

    <body>
        <h1>Students on this course</h1>
        
        <ul>
            <c:forEach var="person" persons="${persons}">
                <li th:each="person : ${persons}"><span th:text="${person.studentNumber}">person</span>: <span th:text="${person.name}">name</span></li>
            </c:forEach>
        </ul>
        
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>

            <tr th:each="person : ${persons}">
                <td><a th:href="@{/persons/{id}(id=${person.id})}" th:text="${person.name}">Item name</a></td>
            </tr>
        </table> 
    </body>
</html>
