<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show course details</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            <h1 th:text="${course.name}"></h1>
            <h2 th:text="${course.courseStart} + ' - ' + ${course.courseEnd}"></h2>
            <h2 th:text="'Students: ' + ${course.numOfStudents}"></h2>
            <h3>Course Assistants: </h3>
            <div th:each="assistant : ${course.assistants}">
                <a th:href="@{/persons/{id}(id=${assistant.id})}" th:text="${assistant.name}"></a>
            </div>
            <p><a th:href="@{/courses/{id}/edit(id=${course.id})}">Modify course details</a></p>


            <table>
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Exercises</th>
                        <th>Students present</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="week : ${course.weeks}">
                        <td><a th:href="@{/course/{courseid}/week/{weekid}(courseid=${course.id}, weekid=${week.id})}" th:text="${week.week}"></a></td>
                        <td th:text="${week.numOfExercises}"></td>
                        <td th:text="${week.numOfStudents}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
