<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show course details</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            <h1>Hello Course</h1>
            <h2>11.11.2016 - 12.12.2016</h2>
            <h2>Students: 2</h2>
            <h3>Course Assistants: <a href="">a-ko</a>, <a href="">b-ko</a></h3>
            <p><a href="">Modify course details</a></p>

            <table>
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Exercises</th>
                        <th>Students present</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">1</a></td>
                        <td>6</td>
                        <td><a href="">2</a></td>
                    </tr>
                    <tr>
                        <td><a href="">2</a></td>
                        <td>8</td>
                        <td><a href=""></a></td>
                    </tr>
                    <tr>
                        <td><a href="">3</a></td>
                        <td>9</td>
                        <td><a href=""></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
