<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show course details</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            <h1 th:text="${course.name}"></h1>
            <h2 th:text="${course.courseStart} + ' - ' + ${course.courseEnd}"></h2>
            <h2>Students: x</h2>
            <h3>Course Assistants: <a href="">a-ko</a>, <a href="">b-ko</a></h3>
            <p><a th:href="@{/courses/{id}/edit(id=${course.id})}">Modify course details</a></p>


            <table>
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Exercises</th>
                        <th>Students present</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">1</a></td>
                        <td>6</td>
                        <td><a href="">2</a></td>
                    </tr>
                    <tr>
                        <td><a href="">2</a></td>
                        <td>8</td>
                        <td><a href=""></a></td>
                    </tr>
                    <tr>
                        <td><a href="">3</a></td>
                        <td>9</td>
                        <td><a href=""></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
