<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{message.password}">Password</title>
        <object th:include="fragments/header :: header " th:remove="tag" />
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/navbar :: navbar ">
                Navbar
            </div>
            <div>

                <h1 th:text="#{message.fillpls}">Fill the form pls</h1>

                <h2 th:text="${person.name} + ' ' +${person.studentNumber}"></h2>
                <form action="#" th:action="@{/persons/{id}/passwd(id=${person.id})}" th:object="${password}" method="POST">
                    <div>
                        <label th:text="#{message.newpassword}">New password</label> 
                        <input type="password" name="password"/>
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                    <input type="submit" th:value="#{message.send}"/>
                </form>
            </div>
        </div>
    </body>
</html>