<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{message.studentinfo}"></title>
        <object th:include="fragments/header :: header " th:remove="tag" />

    </head>

    <body>
        <div class="container">
            <div th:replace="fragments/navbar :: navbar ">
                Navbar
            </div>
            <div>

                <h1 th:text="#{message.studentinfo}">Person's information</h1>

                <p th:text="${person.studentNumber}">number</p>
                <p th:text="${person.name}">name</p>

                <div th:if="${not #lists.isEmpty(person.coursesAssisted)}">
                    <h3 th:text="#{message.assistantoncourses}"></h3>
                    <table>
                        <tr th:each="course : ${person.coursesAssisted}">
                            <td th:text="${course.name}"></td>
                            <td th:text="${course.courseStart} + ' - ' + ${course.courseEnd}"></td>
                            <td sec:authorize="hasAuthority('ROLE_TEACHER')">
                                <form method="POST" th:action="@{/assistants/courses/{courseId}/remove/{assistantId}(courseId=${course.id}, assistantId=${person.id})}">
                                    <input type="submit" th:value="#{message.remove}"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <div th:if="${not #lists.isEmpty(person.coursesAttended)}">
                    <h3 th:text="#{message.studentoncourses}"></h3>
                    <table>
                        <tr th:each="course : ${person.coursesAttended}">
                            <td th:text="${course.name}"></td>
                            <td th:text="${course.courseStart} + ' - ' + ${course.courseEnd}"></td>
                        </tr>
                    </table>
                </div>

                <a th:href="@{/persons}" th:text="#{message.studentlist}">To the list</a>
            </div>
        </div>

    </body>
</html>
