<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ExerciseApplication</title>
    </head>

    <body>
        <h1>Students on this course</h1>
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>

            <tr th:each="person : ${persons}">
                <td><a th:href="@{/persons/{id}(id=${person.id})}" th:text="${person.studentNumber}">Item name</a> : <span th:text="${person.name}">name</span> </td>
            </tr>
        </table> 
        
        <p><a th:href="@{/addperson}">Add person to the course</a></p>
    </body>
</html>
