<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ExerciseApplication</title>
        <object th:include="fragments/header :: header " th:remove="tag" />
    </head>

    <body>
        <div class="container">
            <div th:replace="fragments/navbar :: navbar ">
                Navbar
            </div>

            <div>
                <h1 th:text="#{message.allstudents}">All students</h1>

                <p><a th:href="@{/persons/add}" th:text="#{message.addperson}">Add person</a></p>

                <table>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>

                    <tr th:each="person : ${persons}">
                        <td><a th:href="@{/persons/{id}(id=${person.id})}" th:text="${person.studentNumber}">Item name</a> : <span th:text="${person.name}">name</span> </td>
                    </tr>
                </table> 
                <div th:replace="fragments/paging :: paging ">
                    Paging
                </div>
            </div>
        </div>

    </body>
</html>
